<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http auto-config="true">
        <intercept-url pattern="/admin" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/user" access="hasRole('USER') or hasRole('ADMIN')"/>
        <form-login login-page="/login" default-target-url="/user"
                    authentication-failure-url="/login?error"/>
        <logout logout-success-url="/login?logout"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSourceMySQL"
                               users-by-username-query="SELECT nickname as username, password, enabled FROM mysql_db.user WHERE nickname=?;"
                               authorities-by-username-query="SELECT nickname as username, role as authority FROM mysql_db.user WHERE nickname=?;"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>