<component name="ArtifactManager">
  <artifact type="war" name="SpringSecutiry + Facebook API:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="InteractionMySQLAndPostgreSQL-1.0.war">
      <element id="artifact" artifact-name="SpringSecutiry + Facebook API:war exploded" />
    </root>
  </artifact>
</component>